html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner{
  margin: 5% 5% 10%;
}

button {
	min-width:100px;
}